<!-- {% extends 'base.html' %}
{% block content %}
<div id="choices-container">
    <h1> Choose Your Story Template </h1>
    <option value=""></option>
        <select name="story_id">
          <option value="fairy_tale">
            Fairy Tale
          </option>
          <option value="computers">
            Computers
          </option>
          </select>
          <button> Select Template </button>
</div>
{% endblock %} -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>yesss</p>
</body>
</html>